<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <style>
          table.dataTable td {
            white-space:nowrap;
            padding: 1em;
          }
          table.dataTable th {
            white-space:nowrap;
            padding: 1em;
          }
        </style>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row"> 
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header"> Data - Program
                        <a href="/Program/InputData"><button class="btn btn-sm btn-ghost-success" type="button">Input Data</button></a>
                        <a href="/Program/Export/Excel" target="_blank"><button class="btn btn-sm btn-ghost-success" type="button">Export Data</button></a>
                      </div>
                      <div class="card-body" id="body" style="overflow-x:auto;">
                        <table id="table" class="table table-striped table-bordered datatables" style="width:100%;">
                          <thead>
                            <tr role="row">
                              <th><input type="checkbox" id="check-all"></th>
                              <th></th>
                              <th id="fil-program"></th>
                              <th id="fil-produk"></th>
                              <th></th>
                              <th id="fil-branch"></th>
                              <th id="fil-rate_asuransi"></th>
                              <th id="fil-perluasan_asuransi"></th>
                              <th id="fil-rate_cp"></th>
                              <th id="fil-rate_bunga"></th>
                              <th id="fil-biaya_admin"></th>
                              <th id="fil-biaya_provisi"></th>
                              <th id="fil-minimal_dp"></th>
                              <th id="fil-biaya_fidusia"></th>
                              <th id="fil-komponen_ph"></th>
                              <th id="fil-usia_kendaraan_lunas"></th>
                              <th></th>
                              <th id="fil-deskripsi"></th>
                              <th></th>
                              <th></th>
                              <th id="fil-status"></th>
                              <th></th>
                            </tr>
                            <tr role="filter">
                              <th data-value="checkbox"></th>
                              <th data-value="actions">Actions</th>
                              <th data-value="program">Program</th>
                              <th data-value="produk">Produk</th>
                              <th>Regional</th>
                              <th data-value="branch">Branch</th>
                              <th data-value="rate_asuransi">Skema Rate Asurnasi</th>
                              <th data-value="perluasan_asuransi">Skema Rate Perluasan Asuransi</th>
                              <th data-value="rate_cp">Skema Rate CP</th>
                              <th data-value="rate_bunga">Skema Rate Bunga</th>
                              <th data-value="biaya_admin">Skema Biaya Admin</th>
                              <th data-value="biaya_provisi">Skema Biaya Provisi</th>
                              <th data-value="minimal_dp">Skema Minimal DP</th>
                              <th data-value="biaya_fidusia">Skema Biaya Fidusia</th>
                              <th data-value="komponen_ph">Skema Komponen PH</th>
                              <th data-value="usia_kendaraan_lunas">Skema Usia Kendaraan Lunas</th>
                              <th>Skema Garansi Kendaraan</th>
                              <th data-value="deskripsi">Deskripsi</th>
                              <th>Masa Berlaku Start</th>
                              <th>Masa Berlaku End</th>
                              <th data-value="status">Status</th>
                              <th data-value="remarks">Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="program :${listProgram}">
                              <td>
                                <div class="form-check">
                                  <input class="form-check-input checkbox" type="checkbox" th:attr="data-checkbox=${program.id}">
                                </div>
                              </td>
                              <td>
                                <a class="btn btn-success" th:href="@{/Program/EditData/{id}(id=${program.id})}">
                                <svg class="c-icon">
                                  <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-pen">
                                  </use>
                                </svg></a>
                                </td>
                              <td th:text="${program.program}" th:attr="data-filter=${program.program}"></td>
                              <td th:text="${program.produkName}" th:attr="data-filter=${program.produkName}"></td>
                              <td ></td>
                              <td th:text="${program.branchName}" th:attr="data-filter=${program.branchName}"></td>
                              <td th:text="${program.rateAsuransiName}" th:attr="data-filter=${program.rateAsuransiName}"></td>
                              <td th:text="${program.ratePerluasanName}" th:attr="data-filter=${program.ratePerluasanName}"></td>
                              <td th:text="${program.rateCpName}" th:attr="data-filter=${program.rateCpName}"></td>
                              <td th:text="${program.rateBungaName}" th:attr="data-filter=${program.rateBungaName}"></td>
                              <td th:text="${program.biayaAdminName}" th:attr="data-filter=${program.biayaAdminName}"></td>
                              <td th:text="${program.biayaProvisiName}" th:attr="data-filter=${program.biayaProvisiName}"></td>
                              <td th:text="${program.minimalDpName}" th:attr="data-filter=${program.minimalDpName}"></td>
                              <td th:text="${program.biayaFidusiaName}" th:attr="data-filter=${program.biayaFidusiaName}"></td>
                              <td th:text="${program.komponenPhName}" th:attr="data-filter=${program.komponenPhName}"></td>
                              <td th:text="${program.usiaKendaraanLunasName}" th:attr="data-filter=${program.usiaKendaraanLunasName}"></td>
                              <td></td>
                              <td th:text="${program.deskripsi}" th:attr="data-filter=${program.deskripsi}"></td>
                              <td th:text="${#dates.format(program.startBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${program.startBerlaku}"></td>
                              <td th:text="${#dates.format(program.endBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${program.endBerlaku}"></td>
                                
                                <td th:if="${program.statusApproval == null or program.statusApproval == 0}" data-filter="Draft">
                                  <span class="badge badge-primary">Draft</span>
                                </td>
                                <td th:if="${program.statusApproval == 1}" data-filter="Submitted">
                                  <span class="badge badge-warning">Submitted</span>
                                </td>
                                <td th:if="${program.statusApproval == 2 and program.isApproved == 1}"  data-filter="Approved">
                                  <span class="badge badge-success">Approved</span>
                                </td>
                                <td th:if="${program.statusApproval == 2 and program.isRejected == 1}" data-filter="Rejected">
                                  <span class="badge badge-danger">Rejected</span>
                                </td>

                                <td th:text="${program.remarks}"></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="row">
                          <div class="col-auto">
                            <form id="mass-action-form" th:action="@{/Program/ActionData}"  method="post">
                              <button class="btn btn-primary" name="action" id="btn-submit"
                                value="submit">Submit</button>
                              <button class="btn btn-danger" name="action" id="btn-delete"
                                  value="delete">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
    <script>
      let _FILTER_COLUMN = ['program'];
      let selectedIds = [];
      let table = $('#table').DataTable( {
          "scrollX": true,
          initComplete: function () {
              this.api().columns().every( function () {
                if(_FILTER_COLUMN.includes($(this.header()).data('value'))) {
                  var header = $(this.header()).data('value');
                  var column = this;
                  var select = $('<select class="form-control" style="width:auto;"><option value=""></option></select>')
                      .appendTo( $("#"+"fil-"+header).empty() )
                      .on( 'change', function () {
                          var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                          );
  
                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );

                  let filters = [];
                  $.map(column.nodes(), function (item) {
                    filters.push($(item).data('filter'));
                  })
                  
                  filters = [...new Set(filters)];
                  
                  filters.forEach(function (data) {
                    select.append( '<option value="'+data+'">'+data+'</option>' )
                  })
                }
              } );
          }
      } ).columns.adjust();

      $(document).ready(function(){
        $("#check-all").click(function(event) {
          this.checked = false;
          let check = ($('.checkbox').not(':checked').length > 0);
          $('.checkbox').each(function() {
            this.checked = check;
            $(this).trigger('change');
          });
        });

        $("#table").on('change','.checkbox',function(event) {
          if(this.checked) {
            selectedIds.push($(this).data('checkbox'));
          } else {
            let val = $(this).data('checkbox')
            selectedIds = selectedIds.filter(item => item !== val);
          }
        });

        $("#mass-action-form").submit( function(eventObj) {
            $("<input />").attr("type", "hidden")
                .attr("name", "ids")
                .attr("value", selectedIds.join(","))
                .appendTo("#mass-action-form");
            return true;
        });
      })
  </script>
</body>
</html>



