<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head th:replace="fragments/common :: head"></head>
    <body class="c-app">
        <div th:replace="fragments/common :: sidebar"></div>
        <div class="c-wrapper">
            <div th:replace="fragments/common :: header"></div>
            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">
                        <div class="fade-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header"> Form Input - Program
                                            <div class="card-header-actions"></div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form id="signupForm" th:action="@{/Program/ActionEditData}"  th:object="${program}" method="post" novalidate="novalidate">
                                                        <input type="hidden" th:field="*{id}" id="id" nama="id">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="program">Program</label>
                                                            <input class="form-control" id="program" type="text" name="program" th:field="*{program}"
                                                                placeholder="Nama Skema" th:classappend="${#fields.hasErrors('program')} ?  is-invalid">
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('program')}" th:errors="*{program}"></div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="firstname">Produk</label>
                                                            <select class="form-control" id="produk" type="text" name="produk" th:field="*{produk}"
                                                            placeholder="produk" th:classappend="${#fields.hasErrors('produk')} ?  is-invalid">
                                                                <option th:each="dataProduk :${listProduk}" th:value="${dataProduk.id}" th:text="${dataProduk.produk}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('produk')}" th:errors="*{produk}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="branch">Branch</label>
                                                            <select class="form-control" id="branch" type="text" name="branch" th:field="*{branch}"
                                                            placeholder="branch" th:classappend="${#fields.hasErrors('branch')} ?  is-invalid">
                                                                <option th:each="dataBranch :${listBranch}" th:value="${dataBranch.id}" th:text="${dataBranch.name}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('branch')}" th:errors="*{branch}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="rateAsuransi">Skema Rate Asuransi</label>
                                                            <select class="form-control" id="rateAsuransi" type="text" name="rateAsuransi" th:field="*{rateAsuransi}"
                                                            placeholder="rateAsuransi" th:classappend="${#fields.hasErrors('rateAsuransi')} ?  is-invalid">
                                                                <option th:each="sRateAsuransi :${skemaRateAsuransi}" th:value="${sRateAsuransi.id}" th:text="${sRateAsuransi.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('rateAsuransi')}" th:errors="*{rateAsuransi}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="perluasanAsuransi">Skema Perluasan Asuransi</label>
                                                            <select class="form-control" id="perluasanAsuransi" type="text" name="perluasanAsuransi" th:field="*{perluasanAsuransi}"
                                                            placeholder="perluasanAsuransi" th:classappend="${#fields.hasErrors('perluasanAsuransi')} ?  is-invalid">
                                                                <option th:each="sPerluasanAsuransi :${skemaPerluasanAsuransi}" th:value="${sPerluasanAsuransi.id}" th:text="${sPerluasanAsuransi.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('perluasanAsuransi')}" th:errors="*{perluasanAsuransi}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="rateCp">Skema Rate CP</label>
                                                            <select class="form-control" id="rateCp" type="text" name="rateCp" th:field="*{rateCp}"
                                                            placeholder="rateCp" th:classappend="${#fields.hasErrors('rateCp')} ?  is-invalid">
                                                                <option th:each="sRateCP :${skemaRateCP}" th:value="${sRateCP.id}" th:text="${sRateCP.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('rateCp')}" th:errors="*{rateCp}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="rateBunga">Skema Rate Bunga</label>
                                                            <select class="form-control" id="rateBunga" type="text" name="rateBunga" th:field="*{rateBunga}"
                                                            placeholder="rateBunga" th:classappend="${#fields.hasErrors('rateBunga')} ?  is-invalid">
                                                                <option th:each="sRateBunga :${skemaRateBunga}" th:value="${sRateBunga.id}" th:text="${sRateBunga.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('rateBunga')}" th:errors="*{rateBunga}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="biayaAdmin">Skema Biaya Admin</label>
                                                            <select class="form-control" id="biayaAdmin" type="text" name="biayaAdmin" th:field="*{biayaAdmin}"
                                                            placeholder="biayaAdmin" th:classappend="${#fields.hasErrors('biayaAdmin')} ?  is-invalid">
                                                                <option th:each="sBiayaAdmin :${skemaBiayaAdmin}" th:value="${sBiayaAdmin.id}" th:text="${sBiayaAdmin.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('biayaAdmin')}" th:errors="*{biayaAdmin}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="biayaProvisi">Skema Biaya Provisi</label>
                                                            <select class="form-control" id="biayaProvisi" type="text" name="biayaProvisi" th:field="*{biayaProvisi}"
                                                            placeholder="biayaProvisi" th:classappend="${#fields.hasErrors('biayaProvisi')} ?  is-invalid">
                                                                <option th:each="sBiayaProvisi :${skemaBiayaProvisi}" th:value="${sBiayaProvisi.id}" th:text="${sBiayaProvisi.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('biayaProvisi')}" th:errors="*{biayaProvisi}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="minimalDp">Skema Minimal DP</label>
                                                            <select class="form-control" id="minimalDp" type="text" name="minimalDp" th:field="*{minimalDp}"
                                                            placeholder="minimalDp" th:classappend="${#fields.hasErrors('minimalDp')} ?  is-invalid">
                                                                <option th:each="sMinimalDP :${skemaMinimalDP}" th:value="${sMinimalDP.id}" th:text="${sMinimalDP.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('minimalDp')}" th:errors="*{minimalDp}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="biayaFidusia">Skema Biaya Fidusia</label>
                                                            <select class="form-control" id="biayaFidusia" type="text" name="biayaFidusia" th:field="*{biayaFidusia}"
                                                            placeholder="biayaFidusia" th:classappend="${#fields.hasErrors('biayaFidusia')} ?  is-invalid">
                                                                <option th:each="sBiayaFidusia :${skemaBiayaFidusia}" th:value="${sBiayaFidusia.id}" th:text="${sBiayaFidusia.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('biayaFidusia')}" th:errors="*{biayaFidusia}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="komponenPh">Skema Komponen PH</label>
                                                            <select class="form-control" id="komponenPh" type="text" name="komponenPh" th:field="*{komponenPh}"
                                                            placeholder="komponenPh" th:classappend="${#fields.hasErrors('komponenPh')} ?  is-invalid">
                                                                <option th:each="sKomponenPH :${skemaKomponenPH}" th:value="${sKomponenPH.id}" th:text="${sKomponenPH.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('komponenPh')}" th:errors="*{komponenPh}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="usiaKendaraanLunas">Skema Usia Kendaraan Lunas</label>
                                                            <select class="form-control" id="usiaKendaraanLunas" type="text" name="usiaKendaraanLunas" th:field="*{usiaKendaraanLunas}"
                                                            placeholder="usiaKendaraanLunas" th:classappend="${#fields.hasErrors('usiaKendaraanLunas')} ?  is-invalid">
                                                                <option th:each="sUsiaKendaraanLunas :${skemaUsiaKendaraanLunas}" th:value="${sUsiaKendaraanLunas.id}" th:text="${sUsiaKendaraanLunas.namaSkema}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('usiaKendaraanLunas')}" th:errors="*{usiaKendaraanLunas}"></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deskripsi">Deskripsi</label>
                                                            <textarea class="form-control" id="deskripsi" rows="3" th:field="*{deskripsi}"></textarea>
                                                          </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Masa Berlaku
                                                                    Start</label>
                                                                <input class="form-control" id="startBerlaku" type="date" th:field="*{startBerlaku}"
                                                                    name="startBerlaku" th:classappend="${#fields.hasErrors('startBerlaku')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startBerlaku')}" th:errors="*{startBerlaku}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Masa Berlaku
                                                                    End</label>
                                                                <input class="form-control" id="endBerlaku" type="date" th:field="*{endBerlaku}"
                                                                    name="endBerlaku" th:classappend="${#fields.hasErrors('endBerlaku')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endBerlaku')}" th:errors="*{endBerlaku}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <button class="btn btn-info" type="submit" name="action"
                                                                value="save">Save</button>
                                                            <button class="btn btn-primary" type="submit" name="action"
                                                                value="submit">Submit</button>
                                                            <a href="/Program/Data"><button class="btn btn-secondary" type="button">Cancel</button></a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </main>
            </div>
            <div th:replace="fragments/common :: footer"></div>
        </div>
        <div th:replace="fragments/common :: scripts"></div>
    </body>
</html>