<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <style>
          table.dataTable td {
            white-space:nowrap;
            padding: 1em;
          }
          table.dataTable th {
            white-space:nowrap;
            padding: 1em;
          }
        </style>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row"> 
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header"> Data - Biaya Provisi
                        <a href="/BiayaProvisi/InputData"><button class="btn btn-sm btn-ghost-success" type="button">Input Data</button></a>
                        <a href="/BiayaProvisi/Export/Excel" target="_blank"><button class="btn btn-sm btn-ghost-success" type="button">Export Data</button></a>
                      </div>
                      <div class="card-body" id="body" style="overflow-x:auto;">
                        <table id="table" class="table table-striped table-bordered datatables" style="width:100%;">
                          <thead>
                            <tr role="row">
                              <th><input type="checkbox" id="check-all"></th>
                              <th></th>
                              <th id="fil-nama_skema"></th>
                              <th id="fil-loanType"></th>
                              <th id="fil-Jenis_kendaraan"></th>
                              <th id="fil-jenis_pembiayaan"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>

                              <th id="fil-otr_start"></th>
                              <th id="fil-otr_start"></th>
                              <th id="fil-status"></th>
                              <th id="fil-remarks"></th>
                            </tr>
                            <tr role="filter">
                              <th data-value="checkbox"></th>
                              <th data-value="actions">Actions</th>
                              <th data-value="nama_skema">Skema</th>
                              <th data-value="loanType">Loan Type</th>
                              <th data-value="Jenis_kendaraan">Jenis Kendaraan</th>
                              <th data-value="jenis_pembiayaan">Jenis Pembiayaan</th>
                              <th data-value="otr_start">Tenor 1 (Rp)</th>
                              <th data-value="otr_start">Tenor 1 (%)</th>
                              <th data-value="otr_start">Tenor 2 (Rp)</th>
                              <th data-value="otr_start">Tenor 2 (%)</th>
                              <th data-value="otr_start">Tenor 3 (Rp)</th>
                              <th data-value="otr_start">Tenor 3 (%)</th>
                              <th data-value="otr_start">Tenor 4 (Rp)</th>
                              <th data-value="otr_start">Tenor 4 (%)</th>
                              <th data-value="otr_start">Tenor 5 (Rp)</th>
                              <th data-value="otr_start">Tenor 5 (%)</th>
                              <th data-value="otr_start">Tenor 6 (Rp)</th>
                              <th data-value="otr_start">Tenor 6 (%)</th>
                              <th data-value="otr_start">Tenor 7 (Rp)</th>
                              <th data-value="otr_start">Tenor 7 (%)</th>
                              <th data-value="otr_start">Tenor 8 (Rp)</th>
                              <th data-value="otr_start">Tenor 8 (%)</th>
                              <th data-value="otr_start">Tenor 9 (Rp)</th>
                              <th data-value="otr_start">Tenor 9 (%)</th>
                              <th data-value="otr_start">Tenor 10 (Rp)</th>
                              <th data-value="otr_start">Tenor 10 (%)</th>

                              <th data-value="otr_start">Masa Berlaku Start</th>
                              <th data-value="otr_start">Masa Berlaku End</th>
                              <th data-value="status">Status</th>
                              <th data-value="remarks">Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="biayaProvisi :${listBiayaProvisi}">
                              <td>
                                <div class="form-check">
                                  <input class="form-check-input checkbox" type="checkbox" th:attr="data-checkbox=${biayaProvisi.id}">
                                </div>
                              </td>
                              <td>
                                <a class="btn btn-success" th:href="@{/BiayaProvisi/EditData/{id}(id=${biayaProvisi.id})}">
                                <svg class="c-icon">
                                  <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-pen">
                                  </use>
                                </svg></a>
                                </td>
                                
                                <td th:text="${biayaProvisi.namaSkema}" th:attr="data-filter=${biayaProvisi.namaSkema}"></td>
                                <td th:text="${biayaProvisi.loanType}" th:attr="data-filter=${biayaProvisi.loanType}"></td>
                                <td th:text="${biayaProvisi.jenisKendaraanName}" th:attr="data-filter=${biayaProvisi.jenisKendaraanName}"></td>
                                <td th:text="${biayaProvisi.jenisPembiayaanName}" th:attr="data-filter=${biayaProvisi.jenisPembiayaanName}"></td>

                                <td th:text="${biayaProvisi.tenor1}" th:attr="data-filter=${biayaProvisi.tenor1}"></td>
                                <td th:text="${biayaProvisi.tenor1Persen}" th:attr="data-filter=${biayaProvisi.tenor1Persen}"></td>
                                <td th:text="${biayaProvisi.tenor2}" th:attr="data-filter=${biayaProvisi.tenor2}"></td>
                                <td th:text="${biayaProvisi.tenor2Persen}" th:attr="data-filter=${biayaProvisi.tenor2Persen}"></td>
                                <td th:text="${biayaProvisi.tenor3}" th:attr="data-filter=${biayaProvisi.tenor3}"></td>
                                <td th:text="${biayaProvisi.tenor3Persen}" th:attr="data-filter=${biayaProvisi.tenor3Persen}"></td>
                                <td th:text="${biayaProvisi.tenor4}" th:attr="data-filter=${biayaProvisi.tenor4}"></td>
                                <td th:text="${biayaProvisi.tenor4Persen}" th:attr="data-filter=${biayaProvisi.tenor4Persen}"></td>
                                <td th:text="${biayaProvisi.tenor5}" th:attr="data-filter=${biayaProvisi.tenor5}"></td>
                                <td th:text="${biayaProvisi.tenor5Persen}" th:attr="data-filter=${biayaProvisi.tenor5Persen}"></td>
                                <td th:text="${biayaProvisi.tenor6}" th:attr="data-filter=${biayaProvisi.tenor6}"></td>
                                <td th:text="${biayaProvisi.tenor6Persen}" th:attr="data-filter=${biayaProvisi.tenor6Persen}"></td>
                                <td th:text="${biayaProvisi.tenor7}" th:attr="data-filter=${biayaProvisi.tenor7}"></td>
                                <td th:text="${biayaProvisi.tenor7Persen}" th:attr="data-filter=${biayaProvisi.tenor7Persen}"></td>
                                <td th:text="${biayaProvisi.tenor8}" th:attr="data-filter=${biayaProvisi.tenor8}"></td>
                                <td th:text="${biayaProvisi.tenor8Persen}" th:attr="data-filter=${biayaProvisi.tenor8Persen}"></td>
                                <td th:text="${biayaProvisi.tenor9}" th:attr="data-filter=${biayaProvisi.tenor9}"></td>
                                <td th:text="${biayaProvisi.tenor9Persen}" th:attr="data-filter=${biayaProvisi.tenor9Persen}"></td>
                                <td th:text="${biayaProvisi.tenor10}" th:attr="data-filter=${biayaProvisi.tenor10}"></td>
                                <td th:text="${biayaProvisi.tenor10Persen}" th:attr="data-filter=${biayaProvisi.tenor10Persen}"></td>
                                
                                <td th:text="${#dates.format(biayaProvisi.startBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${biayaProvisi.startBerlaku}"></td>
                                <td th:text="${#dates.format(biayaProvisi.endBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${biayaProvisi.endBerlaku}"></td>
                                
                                <td th:if="${biayaProvisi.statusApproval == null or biayaProvisi.statusApproval == 0}" data-filter="Draft">
                                  <span class="badge badge-primary">Draft</span>
                                </td>
                                <td th:if="${biayaProvisi.statusApproval == 1}" data-filter="Submitted">
                                  <span class="badge badge-warning">Submitted</span>
                                </td>
                                <td th:if="${biayaProvisi.statusApproval == 2 and biayaProvisi.isApproved == 1}"  data-filter="Approved">
                                  <span class="badge badge-success">Approved</span>
                                </td>
                                <td th:if="${biayaProvisi.statusApproval == 2 and biayaProvisi.isRejected == 1}" data-filter="Rejected">
                                  <span class="badge badge-danger">Rejected</span>
                                </td>

                                <td th:text="${biayaProvisi.remarks}"></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="row">
                          <div class="col-auto">
                            <form id="mass-action-form" th:action="@{/BiayaProvisi/ActionData}"  method="post">
                              <button class="btn btn-primary" name="action" id="btn-submit"
                                value="submit">Submit</button>
                              <button class="btn btn-danger" name="action" id="btn-delete"
                                  value="delete">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
    <script>
      let _FILTER_COLUMN = ['status'];
      let selectedIds = [];
      let table = $('#table').DataTable( {
          "scrollX": true,
          initComplete: function () {
              this.api().columns().every( function () {
                if(_FILTER_COLUMN.includes($(this.header()).data('value'))) {
                  var header = $(this.header()).data('value');
                  var column = this;
                  var select = $('<select class="form-control" style="width:auto;"><option value=""></option></select>')
                      .appendTo( $("#"+"fil-"+header).empty() )
                      .on( 'change', function () {
                          var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                          );
  
                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );

                  let filters = [];
                  $.map(column.nodes(), function (item) {
                    filters.push($(item).data('filter'));
                  })
                  
                  filters = [...new Set(filters)];
                  
                  filters.forEach(function (data) {
                    select.append( '<option value="'+data+'">'+data+'</option>' )
                  })
                }
              } );
          }
      } ).columns.adjust();

      $(document).ready(function(){
        $("#check-all").click(function(event) {
          this.checked = false;
          let check = ($('.checkbox').not(':checked').length > 0);
          $('.checkbox').each(function() {
            this.checked = check;
            $(this).trigger('change');
          });
        });

        $("#table").on('change','.checkbox',function(event) {
          if(this.checked) {
            selectedIds.push($(this).data('checkbox'));
          } else {
            let val = $(this).data('checkbox')
            selectedIds = selectedIds.filter(item => item !== val);
          }
        });

        $("#mass-action-form").submit( function(eventObj) {
            $("<input />").attr("type", "hidden")
                .attr("name", "ids")
                .attr("value", selectedIds.join(","))
                .appendTo("#mass-action-form");
            return true;
        });
      })
  </script>
</body>
</html>



