<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head th:replace="fragments/common :: head"></head>
    <body class="c-app">
        <div th:replace="fragments/common :: sidebar"></div>
        <div class="c-wrapper">
            <div th:replace="fragments/common :: header"></div>
            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">
                        <div class="fade-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header"> Form Input - Perluasan Asuransi
                                            <div class="card-header-actions"></div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form id="signupForm" th:action="@{/RateCP/ActionInputData}"  th:object="${dataRateCP}" method="post" novalidate="novalidate">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="nama_skema">Nama Skema</label>
                                                            <input class="form-control" id="nama_skema" type="text" name="nama_skema" th:field="*{nama_skema}"
                                                                placeholder="nama_skema" th:classappend="${#fields.hasErrors('nama_skema')} ?  is-invalid">
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nama_skema')}" th:errors="*{nama_skema}"></div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="firstname">Tipe Konsumen</label>
                                                            <select class="form-control" id="tipe_konsumen" type="text" name="tipe_konsumen" th:field="*{tipe_konsumen}"
                                                            placeholder="tipe_konsumen" th:classappend="${#fields.hasErrors('tipe_konsumen')} ?  is-invalid">
                                                                <option th:each="dataTipeKonsumen :${listDataTipeKonsumen}" th:value="${dataTipeKonsumen.id}" th:text="${dataTipeKonsumen.nama}"></option>
                                                            </select>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('tipe_konsumen')}" th:errors="*{tipe_konsumen}"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Tenor 1 (%)</label>
                                                                <input class="form-control" id="tenor1" type="text" th:field="*{tenor1}"
                                                                    name="tenor1" th:classappend="${#fields.hasErrors('tenor1')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor1')}" th:errors="*{tenor1}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Tenor 6 (%)</label>
                                                                <input class="form-control" id="tenor6" type="text" th:field="*{tenor6}"
                                                                    name="tenor6" th:classappend="${#fields.hasErrors('tenor6')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor6')}" th:errors="*{tenor6}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Tenor 2 (%)</label>
                                                                <input class="form-control" id="tenor2" type="text" th:field="*{tenor2}"
                                                                    name="tenor2" th:classappend="${#fields.hasErrors('tenor2')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor2')}" th:errors="*{tenor2}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Tenor 7 (%)</label>
                                                                <input class="form-control" id="tenor7" type="text" th:field="*{tenor7}"
                                                                    name="tenor7" th:classappend="${#fields.hasErrors('tenor7')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor7')}" th:errors="*{tenor7}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Tenor 3 (%)</label>
                                                                <input class="form-control" id="tenor3" type="text" th:field="*{tenor3}"
                                                                    name="tenor3" th:classappend="${#fields.hasErrors('tenor3')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor3')}" th:errors="*{tenor3}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Tenor 8 (%)</label>
                                                                <input class="form-control" id="tenor8" type="text" th:field="*{tenor8}"
                                                                    name="tenor8" th:classappend="${#fields.hasErrors('tenor8')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor8')}" th:errors="*{tenor8}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Tenor 4 (%)</label>
                                                                <input class="form-control" id="tenor4" type="text" th:field="*{tenor4}"
                                                                    name="tenor4" th:classappend="${#fields.hasErrors('tenor4')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor4')}" th:errors="*{tenor4}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Tenor 9 (%)</label>
                                                                <input class="form-control" id="tenor9" type="text" th:field="*{tenor9}"
                                                                    name="tenor9" th:classappend="${#fields.hasErrors('tenor9')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor9')}" th:errors="*{tenor9}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Tenor 5 (%)</label>
                                                                <input class="form-control" id="tenor5" type="text" th:field="*{tenor5}"
                                                                    name="tenor5" th:classappend="${#fields.hasErrors('tenor5')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor5')}" th:errors="*{tenor5}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Tenor 10 (%)</label>
                                                                <input class="form-control" id="tenor10" type="text" th:field="*{tenor10}"
                                                                    name="tenor10" th:classappend="${#fields.hasErrors('tenor10')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor10')}" th:errors="*{tenor10}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Masa Berlaku
                                                                    Start</label>
                                                                <input class="form-control" id="startBerlaku" type="date" th:field="*{startBerlaku}"
                                                                    name="startBerlaku" th:classappend="${#fields.hasErrors('startBerlaku')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startBerlaku')}" th:errors="*{startBerlaku}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Masa Berlaku
                                                                    End</label>
                                                                <input class="form-control" id="endBerlaku" type="date" th:field="*{endBerlaku}"
                                                                    name="endBerlaku" th:classappend="${#fields.hasErrors('endBerlaku')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endBerlaku')}" th:errors="*{endBerlaku}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <button class="btn btn-info" type="submit" name="action"
                                                                value="save">Save</button>
                                                            <button class="btn btn-primary" type="submit" name="action"
                                                                value="submit">Submit</button>
                                                            <a href="/RateCP/Data"><button class="btn btn-secondary" type="button">Cancel</button></a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </main>
            </div>
            <div th:replace="fragments/common :: footer"></div>
        </div>
        <div th:replace="fragments/common :: scripts"></div>
    </body>
</html>