<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head th:replace="fragments/common :: head"></head>
    <body class="c-app">
        <div th:replace="fragments/common :: sidebar"></div>
        <div class="c-wrapper">
            <div th:replace="fragments/common :: header"></div>
            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">
                        <div class="fade-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header"> Form Input - Jenis Pembiayaan
                                            <div class="card-header-actions"></div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form id="signupForm" th:action="@{/JenisPembiayaan/ActionInputData}"  th:object="${dataJenisPembiayaan}" method="post" novalidate="novalidate">
                                                        <input type="hidden" th:field="*{id}" id="id" nama="id">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="jenis_pembiayaan">Jenis Pembiayaan</label>
                                                            <input class="form-control" id="jenis_pembiayaan" type="text" name="jenis_pembiayaan" th:field="*{jenis_pembiayaan}"
                                                                placeholder="jenis_pembiayaan" th:classappend="${#fields.hasErrors('jenis_pembiayaan')} ?  is-invalid">
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('jenis_pembiayaan')}" th:errors="*{jenis_pembiayaan}"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="firstname">Produk</label>
                                                            <input class="form-control" id="produk" type="text" name="produk" th:field="*{produk}"
                                                                placeholder="produk" th:classappend="${#fields.hasErrors('produk')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('produk')}" th:errors="*{produk}"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="firstname">Is Refinancing</label>
                                                            <input class="form-control" id="is_refinancing" type="text" name="is_refinancing" th:field="*{is_refinancing}"
                                                                placeholder="is_refinancing" th:classappend="${#fields.hasErrors('is_refinancing')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('is_refinancing')}" th:errors="*{is_refinancing}"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="password">Masa Berlaku
                                                                    Start</label>
                                                                <input class="form-control" id="start_date" type="date" th:field="*{start_date}"
                                                                    name="start_date" th:classappend="${#fields.hasErrors('start_date')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label" for="confirm_password">Masa Berlaku
                                                                    End</label>
                                                                <input class="form-control" id="end_date" type="date" th:field="*{end_date}"
                                                                    name="end_date" th:classappend="${#fields.hasErrors('end_date')} ?  is-invalid">
                                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-info" type="submit" name="action"
                                                                value="save">Save</button>
                                                            <button class="btn btn-primary" type="submit" name="action"
                                                                value="submit">Submit</button>
                                                            <a href="/JenisPembiayaan/Data"><button class="btn btn-secondary" type="button">Cancel</button></a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </main>
            </div>
            <div th:replace="fragments/common :: footer"></div>
        </div>
        <div th:replace="fragments/common :: scripts"></div>
    </body>
</html>