<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <style>
          table.dataTable td {
            white-space:nowrap;
          }
          table.dataTable td {
            white-space:nowrap;
          }
        </style>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row"> 
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header"> Data - Rate Bunga</div>
                      <div class="card-body" id="body" style="overflow-x:auto;">
                        <table id="table" class="table table-striped table-bordered datatables" style="width:100%;">
                          <thead>
                            <tr role="row">
                              <th><input type="checkbox" id="check-all"></th>
                              <th></th>
                              <th id="fil-nama_skema"></th>
                              <th id="fil-tipe_konsumen"></th>
                              <th id="fil-Jenis_kendaraan"></th>
                              <th id="fil-jenis_pembiayaan"></th>
                              <th id="fil-cluster"></th>
                              <th id="fil-npwp"></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th id="fil-status"></th>
                              <th></th>
                            </tr>
                            <tr role="filter">
                              <th data-value="checkbox"></th>
                              <th data-value="actions">Actions</th>
                              <th data-value="nama_skema">Skema</th>
                              <th data-value="loan_type">Loan Type</th>
                              <th data-value="Jenis_kendaraan">Jenis Kendaraan</th>
                              <th data-value="jenis_pembiayaan">Jenis Pembiayaan</th>
                              <th data-value="cluster">Cluster</th>
                              <th data-value="npwp">Tahun Kendaraan Start</th>
                              <th data-value="npwp">Tahun Kendaraan End</th>
                              <th data-value="otr_start">Tenor 1 (%)</th>
                              <th data-value="otr_start">Tenor 2 (%)</th>
                              <th data-value="otr_start">Tenor 3 (%)</th>
                              <th data-value="otr_start">Tenor 4 (%)</th>

                              <th data-value="otr_start">Tenor 5 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 5 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 5 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 5 Periode 2 (%)</th>

                              <th data-value="otr_start">Tenor 6 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 6 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 6 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 6 Periode 2 (%)</th>

                              <th data-value="otr_start">Tenor 7 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 7 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 7 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 7 Periode 2 (%)</th>

                              <th data-value="otr_start">Tenor 8 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 8 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 8 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 8 Periode 2 (%)</th>

                              <th data-value="otr_start">Tenor 9 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 9 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 9 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 9 Periode 2 (%)</th>

                              <th data-value="otr_start">Tenor 10 Periode 1 Tahun</th>
                              <th data-value="otr_start">Tenor 10 Periode 1 (%)</th>
                              <th data-value="otr_start">Tenor 10 Periode 2 Tahun</th>
                              <th data-value="otr_start">Tenor 10 Periode 2 (%)</th>

                              <th data-value="otr_start">Masa Berlaku Start</th>
                              <th data-value="otr_start">Masa Berlaku End</th>
                              <th data-value="status">Status</th>
                              <th data-value="remarks">Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="rateBunga :${listRateBunga}">
                              <td>
                                <div class="form-check">
                                  <input class="form-check-input checkbox" type="checkbox" th:attr="data-checkbox=${rateBunga.id}">
                                </div>
                              </td>
                              <td>
                                <a class="btn btn-success" th:href="@{/RateBunga/FormApprovalData/{id}(id=${rateBunga.id})}">
                                <svg class="c-icon">
                                  <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-pen">
                                  </use>
                                </svg></a>
                                </td>
                                
                                <td th:text="${rateBunga.namaSkema}" th:attr="data-filter=${rateBunga.namaSkema}"></td>
                                <td th:text="${rateBunga.loanTypeName}" th:attr="data-filter=${rateBunga.loanTypeName}"></td>
                                <td th:text="${rateBunga.jenisKendaraanName}" th:attr="data-filter=${rateBunga.jenisKendaraanName}"></td>
                                <td th:text="${rateBunga.jenisPembiayaanName}" th:attr="data-filter=${rateBunga.jenisPembiayaanName}"></td>
                                <td th:text="${rateBunga.clusterName}" th:attr="data-filter=${rateBunga.clusterName}"></td>
                                <td th:text="${rateBunga.startTahunKendaraan}" th:attr="data-filter=${rateBunga.startTahunKendaraan}"></td>
                                <td th:text="${rateBunga.endTahun}" th:attr="data-filter=${rateBunga.endTahun}"></td>

                                <td th:text="${rateBunga.tenor1}" th:attr="data-filter=${rateBunga.tenor1}"></td>
                                <td th:text="${rateBunga.tenor2}" th:attr="data-filter=${rateBunga.tenor2}"></td>
                                <td th:text="${rateBunga.tenor3}" th:attr="data-filter=${rateBunga.tenor3}"></td>
                                <td th:text="${rateBunga.tenor4}" th:attr="data-filter=${rateBunga.tenor4}"></td>

                                <td th:text="${rateBunga.tenor5Periode1}" th:attr="data-filter=${rateBunga.tenor5Periode1}"></td>
                                <td th:text="${rateBunga.tenor5Rate1}" th:attr="data-filter=${rateBunga.tenor5Rate1}"></td>
                                <td th:text="${rateBunga.tenor5Periode2}" th:attr="data-filter=${rateBunga.tenor5Periode2}"></td>
                                <td th:text="${rateBunga.tenor5Rate2}" th:attr="data-filter=${rateBunga.tenor5Rate2}"></td>
                                
                                <td th:text="${rateBunga.tenor6Periode1}" th:attr="data-filter=${rateBunga.tenor6Periode1}"></td>
                                <td th:text="${rateBunga.tenor6Rate1}" th:attr="data-filter=${rateBunga.tenor6Rate1}"></td>
                                <td th:text="${rateBunga.tenor6Periode2}" th:attr="data-filter=${rateBunga.tenor6Periode2}"></td>
                                <td th:text="${rateBunga.tenor6Rate2}" th:attr="data-filter=${rateBunga.tenor6Rate2}"></td>

                                <td th:text="${rateBunga.tenor7Periode1}" th:attr="data-filter=${rateBunga.tenor7Periode1}"></td>
                                <td th:text="${rateBunga.tenor7Rate1}" th:attr="data-filter=${rateBunga.tenor7Rate1}"></td>
                                <td th:text="${rateBunga.tenor7Periode2}" th:attr="data-filter=${rateBunga.tenor7Periode2}"></td>
                                <td th:text="${rateBunga.tenor7Rate2}" th:attr="data-filter=${rateBunga.tenor7Rate2}"></td>

                                <td th:text="${rateBunga.tenor8Periode1}" th:attr="data-filter=${rateBunga.tenor8Periode1}"></td>
                                <td th:text="${rateBunga.tenor8Rate1}" th:attr="data-filter=${rateBunga.tenor8Rate1}"></td>
                                <td th:text="${rateBunga.tenor8Periode2}" th:attr="data-filter=${rateBunga.tenor8Periode2}"></td>
                                <td th:text="${rateBunga.tenor8Rate2}" th:attr="data-filter=${rateBunga.tenor8Rate2}"></td>

                                <td th:text="${rateBunga.tenor9Periode1}" th:attr="data-filter=${rateBunga.tenor9Periode1}"></td>
                                <td th:text="${rateBunga.tenor9Rate1}" th:attr="data-filter=${rateBunga.tenor9Rate1}"></td>
                                <td th:text="${rateBunga.tenor9Periode2}" th:attr="data-filter=${rateBunga.tenor9Periode2}"></td>
                                <td th:text="${rateBunga.tenor9Rate2}" th:attr="data-filter=${rateBunga.tenor9Rate2}"></td>

                                <td th:text="${rateBunga.tenor10Periode1}" th:attr="data-filter=${rateBunga.tenor10Periode1}"></td>
                                <td th:text="${rateBunga.tenor10Rate1}" th:attr="data-filter=${rateBunga.tenor10Rate1}"></td>
                                <td th:text="${rateBunga.tenor10Periode2}" th:attr="data-filter=${rateBunga.tenor10Periode2}"></td>
                                <td th:text="${rateBunga.tenor10Rate2}" th:attr="data-filter=${rateBunga.tenor10Rate2}"></td>

                                <td th:text="${#dates.format(rateBunga.startBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${rateBunga.startBerlaku}"></td>
                                <td th:text="${#dates.format(rateBunga.endBerlaku,'dd-MM-yyyy')}" th:attr="data-filter=${rateBunga.endBerlaku}"></td>
                                
                                <td th:if="${rateBunga.statusApproval == null or rateBunga.statusApproval == 0}" data-filter="Draft">
                                  <span class="badge badge-primary">Draft</span>
                                </td>
                                <td th:if="${rateBunga.statusApproval == 1}" data-filter="Submitted">
                                  <span class="badge badge-warning">Submitted</span>
                                </td>
                                <td th:if="${rateBunga.statusApproval == 2 and rateBunga.isApproved == 1}"  data-filter="Approved">
                                  <span class="badge badge-success">Approved</span>
                                </td>
                                <td th:if="${rateBunga.statusApproval == 2 and rateBunga.isRejected == 1}" data-filter="Rejected">
                                  <span class="badge badge-danger">Rejected</span>
                                </td>

                                <td th:text="${rateBunga.remarks}"></td>
                            </tr>
                          </tbody>
                        </table>
                          
                        <div class="row">
                          <div class="col-auto">
                            <form id="mass-action-form" th:action="@{/RateBunga/ActionApproval}"  method="post">
                              <button class="btn btn-primary" name="action"
                                value="approve">Approve</button>
                              <button class="btn btn-danger" name="action"
                                  value="decline">Decline</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
    <script>
      let _FILTER_COLUMN = ['nama_skema','tipe_konsumen','Jenis_kendaraan','jenis_pembiayaan','cluster','status'];
      let selectedIds = [];
      let table = $('#table').DataTable( {
          "scrollX": true,
          initComplete: function () {
              this.api().columns().every( function () {
                if(_FILTER_COLUMN.includes($(this.header()).data('value'))) {
                  var header = $(this.header()).data('value');
                  var column = this;
                  var select = $('<select class="form-control" style="width:auto;"><option value=""></option></select>')
                      .appendTo( $("#"+"fil-"+header).empty() )
                      .on( 'change', function () {
                          var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                          );
  
                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );

                  let filters = [];
                  $.map(column.nodes(), function (item) {
                    filters.push($(item).data('filter'));
                  })
                  
                  filters = [...new Set(filters)];
                  
                  filters.forEach(function (data) {
                    select.append( '<option value="'+data+'">'+data+'</option>' )
                  })
                }
              } );
          }
      } ).columns.adjust();

      $(document).ready(function(){
        $("#check-all").click(function(event) {
          this.checked = false;
          let check = ($('.checkbox').not(':checked').length > 0);
          $('.checkbox').each(function() {
            this.checked = check;
            $(this).trigger('change');
          });
        });

        $("#table").on('change','.checkbox',function(event) {
          if(this.checked) {
            selectedIds.push($(this).data('checkbox'));
          } else {
            let val = $(this).data('checkbox')
            selectedIds = selectedIds.filter(item => item !== val);
          }
        });

        $("#mass-action-form").submit( function(eventObj) {
            $("<input />").attr("type", "hidden")
                .attr("name", "ids")
                .attr("value", selectedIds.join(","))
                .appendTo("#mass-action-form");
            return true;
        });
      })
  </script>
</body>
</html>