<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-gradient-primary">
                      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                          <div class="text-value-lg">2</div>
                          <div>Task List</div>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <svg class="c-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                              class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                              else here</a></div>
                        </div>
                      </div>
      
      
                      <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-gradient-info">
                      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                          <div class="text-value-lg">3</div>
                          <div>Program</div>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <svg class="c-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                              class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                              else here</a></div>
                        </div>
                      </div>
                      <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart2" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-gradient-warning">
                      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                          <div class="text-value-lg">3</div>
                          <div>Produk</div>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <svg class="c-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                              class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                              else here</a></div>
                        </div>
                      </div>
                      <div class="c-chart-wrapper mt-3" style="height:70px;">
                        <canvas class="chart" id="card-chart3" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-gradient-danger">
                      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                          <div class="text-value-lg">23</div>
                          <div>Skema</div>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <svg class="c-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                              class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                              else here</a></div>
                        </div>
                      </div>
                      <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart4" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
    <script th:src="@{../js/main.js}"></script>
</body>
</html>


