<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row"> 
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header"> Data - Tujuan Penggunaan
                        <a href="/TipeKonsumen/InputData"><button class="btn btn-sm btn-ghost-success" type="button">Input Data</button></a>
                        <a href="/TipeKonsumen/ExportData"><button class="btn btn-sm btn-ghost-success" type="button">Export Data</button></a>
                        <a href="/TipeKonsumen/ImportData"><button class="btn btn-sm btn-ghost-success" type="button">Import Data</button></a>
                      </div>
                      <div class="card-body">
                        <table class="table table-striped table-bordered datatable">
                          <thead>
                            <tr role="row">
                              <th>Actions</th>
                              <th>Nama</th>
                              <th>Produk</th>
                              <th>Deskripsi</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Status</th>
                              <th>Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="tipeKonsumen :${listDataTipeKonsumen}">
                              <td>
                                <a class="btn btn-success" href="/TipeKonsumen/EditData">
                                <svg class="c-icon">
                                  <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-pen">
                                  </use>
                                </svg></a>
                                </td>
                                <td th:text="${tipeKonsumen.nama}"></td>
                                <td th:text="${tipeKonsumen.produk}"></td>
                                <td th:text="${tipeKonsumen.deskripsi}"></td>
                                <td th:text="${tipeKonsumen.start_date}"></td>
                                <td th:text="${tipeKonsumen.end_date}"></td>
                                <td>
                                  <span th:if="${tipeKonsumen.is_approved == null and tipeKonsumen.is_rejected == null}" class="badge badge-primary">Draft</span>
                                  <span th:if="${tipeKonsumen.is_approved == 0 and tipeKonsumen.is_rejected == 0}" class="badge badge-warning">Submitted</span>
                                  <span th:if="${tipeKonsumen.is_approved == 1}" class="badge badge-success">Approved</span>
                                  <span th:if="${tipeKonsumen.is_rejected == 1}" class="badge badge-danger">Rejected</span>
                                </td>
                                <td th:text="${tipeKonsumen.remarks}"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
</body>
</html>



