<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head">

</head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <div class="c-body">
          <main class="c-main">
            <div class="container-fluid">
              <div class="fade-in">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header"> Data - Tujuan Penggunaan
                        <a href="/TipeKonsumen/InputData"><button class="btn btn-sm btn-ghost-success" type="button">Input Data</button></a>
                        <a href="/TipeKonsumen/ExportData"><button class="btn btn-sm btn-ghost-success" type="button">Export Data</button></a>
                        <a href="/TipeKonsumen/ImportData"><button class="btn btn-sm btn-ghost-success" type="button">Import Data</button></a>
                      </div>
                      <div class="card-body">
                        <table id="tabel-data" class="table table-striped table-bordered" width="100%" cellspacing="0">
                          <thead>
                            <tr role="row">
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" style="width: 258.917px;"
                              aria-label="Actions: activate to sort column ascending">Actions</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 369.75px;"
                                aria-label="Date registered: activate to sort column ascending">Nama</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 369.75px;"
                                aria-label="Date registered: activate to sort column ascending">Produk</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 369.75px;"
                                aria-label="Date registered: activate to sort column ascending">deskripsi</th>
                              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 340.4px;"
                                aria-label="Status: activate to sort column ascending">Start Date</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 340.4px;"
                                aria-label="Status: activate to sort column ascending">End Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="modelTipeKonsumen :${listDataTipeKonsumen}">
                              <td><a class="btn btn-success" href="/TipeKonsumen/EditData">
                                <svg class="c-icon">
                                  <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass">
                                  </use>
                                </svg></a>
                                </td>
                                <td th:text="${modelTipeKonsumen.nama}"></td>
                                <td th:text="${modelTipeKonsumen.produk}"></td>
                                <td th:text="${modelTipeKonsumen.deskripsi}"></td>
                                <td th:text="${modelTipeKonsumen.start_date}"></td>
                                <td th:text="${modelTipeKonsumen.end_date}"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
    <script>
      $(document).ready(function(){
        $('#tabel-data').DataTable();
      });
    </script>
</body>
</html>



