<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<html lang="en">

<div th:replace="fragments/common :: myheader"></div>

<div th:replace="fragments/common :: navbar"></div>

<!--NOTE BATAS ATAS NAVBAR  -->

<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">


        <div class="c-subheader justify-content-between px-3">
            <!-- Breadcrumb-->
            <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
                <li class="breadcrumb-item">Selamat Datang</li>
                <li class="breadcrumb-item"><a href="#">20190325</a></li>
                <!-- Breadcrumb Menu-->
            </ol>
            <div class="c-subheader-nav d-md-down-none mfe-2">
                <a class="c-subheader-nav-link" th:href="@{../logout}">
                    <svg class="c-icon">
                        <use xlink:href="../vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                    </svg> &nbsp;Logout</a></div>
        </div>
    </header>




    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header"> Form Input - Rate Asuransi
                                   
                                <div class="card-body">

                                    <div class="row" style="width: 85rem;">
                                        <div class="col-md-12">
                                            <form th:action="@{/RateAsuransi/ActionInputData}" method="post">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="nama_skema">Skema</label>
                                                    <input class="form-control" id="nama_skema" type="text" name="nama_skema"
                                                        placeholder="Skema" required>
                                                </div>
                                               

                                               
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label">Wilayah</label>
                                                    <div class="col-md-9 col-form-label">
                                                    <div class="form-check">
                                                    <input class="form-check-input" id="wilayah" type="radio" value="0" name="wilayah">
                                                    <label class="form-check-label" for="wilayah">All</label>
                                                    </div>
                                                    <br>
                                                    <tr  th:each="modelWilayah :${listJenisWilayah}">
                                                    <div class="form-check">
                                                     <input class="form-check-input" id="wilayah" type="radio" th:value="${modelWilayah.id}" name="wilayah">
                                                    <label class="form-check-label" for="wilayah"><p th:text=${modelWilayah.namaWilayah}></p></label>
                                                    </div>
                                                    </tr>
                                                    </div>
                                               
                                                    </div>


                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label">Jenis Pembiayaan</label>
                                                        <div class="col-md-9 col-form-label">
                                                        <div class="form-check">
                                                        <input class="form-check-input" id="jenisPembiayaan" type="radio" value="0" name="jenisPembiayaan">
                                                        <label class="form-check-label" for="jenisPembiayaan">All</label>
                                                        </div>
                                                        <br>
                                                        <tr  th:each="modelJenisPembiayaan :${listJenisPembiayaan}">
                                                        <div class="form-check">
                                                         <input class="form-check-input" id="jenisPembiayaan" type="radio" th:value="${modelJenisPembiayaan.id}" name="jenisPembiayaan">
                                                        <label class="form-check-label" for="jenisPembiayaan"><p th:text=${modelJenisPembiayaan.jenisPembiayaanId}></p></label>
                                                        </div>
                                                        </tr>
                                                        </div>
                                                   
                                                        </div>


                                                        <div class="form-group row">
                                                            <label class="col-md-3 col-form-label">Jenis Kendaraan</label>
                                                            <div class="col-md-9 col-form-label">
                                                            <div class="form-check">
                                                            <input class="form-check-input" id="jenisKendaraan" type="radio" value="0" name="jenisKendaraan">
                                                            <label class="form-check-label" for="jenisKendaraan">All</label>
                                                            </div>
                                                            <br>
                                                            <tr  th:each="modelJenisKendaraan :${listJenisKendaraan}">
                                                            <div class="form-check">
                                                             <input class="form-check-input" id="jenisKendaraan" type="radio" th:value="${modelJenisKendaraan.id}" name="jenisKendaraan">
                                                            <label class="form-check-label" for="jenisKendaraan"><p th:text=${modelJenisKendaraan.jenisKendaraanId}></p></label>
                                                            </div>
                                                            </tr>
                                                            </div>
                                                       
                                                            </div>
                                                       

                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label">Tipe Asuransi</label>
                                                        <div class="col-md-9 col-form-label">
                                                        <div class="form-check">
                                                        <input class="form-check-input" id="tipeAsuransi" type="radio" value="0" name="tipeAsuransi">
                                                        <label class="form-check-label" for="tipeAsuransi">All</label>
                                                        </div>
                                                        <br>
                                                        <tr  th:each="modelTipeAsuransi :${listTipeAsuransi}">
                                                        <div class="form-check">
                                                         <input class="form-check-input" id="tipeAsuransi" type="radio" th:value="${modelTipeAsuransi.id}" name="tipeAsuransi">
                                                        <label class="form-check-label" for="tipeAsuransi"><p th:text=${modelTipeAsuransi.namaAsuransi}></p></label>
                                                        </div>
                                                        </tr>
                                                        </div>
                                                   
                                                        </div>
                                                   


                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="startOTR">Range OTR
                                                                Start</label>
                                                            <input class="form-control" id="startOTR" type="text"
                                                                name="startOTR" placeholder="Rp." required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="endOTR">Range OTR
                                                                End</label>
                                                            <input class="form-control" id="endOTR" type="text"
                                                                name="endOTR" placeholder="Rp." required>
                                                        </div>
                                                    </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="startyear">Tahun Kendaraan
                                                            Start</label>
                                                        <input class="form-control" id="startyear" type="text"
                                                            name="startyear" placeholder="Number Only (4 Digit)"  maxlength="4" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="endyear">Tahun Kendaraan
                                                            End</label>
                                                        <input class="form-control" id="endyear" type="text"
                                                            name="endyear" placeholder="Number Only (4 Digit)"  maxlength="4" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor1">Tenor 1
                                                            </label>
                                                        <input class="form-control" id="tenor1" type="text"
                                                            name="tenor1" placeholder="Number Only" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor2">Tenor 2
                                                            </label>
                                                        <input class="form-control" id="tenor2" type="text"
                                                            name="tenor2" placeholder="Number Only" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor3">Tenor 3
                                                            </label>
                                                        <input class="form-control" id="tenor3" type="text"
                                                            name="tenor3" placeholder="Number Only" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor4">Tenor 4
                                                            </label>
                                                        <input class="form-control" id="tenor4" type="text"
                                                            name="tenor4" placeholder="Number Only" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor5">Tenor 5
                                                            </label>
                                                        <input class="form-control" id="tenor5" type="text"
                                                            name="tenor5" placeholder="Number Only" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor6">Tenor 6
                                                            </label>
                                                        <input class="form-control" id="tenor7" type="text"
                                                            name="tenor6" placeholder="Number Only" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor7">Tenor 7
                                                            </label>
                                                        <input class="form-control" id="tenor7" type="text"
                                                            name="tenor7" placeholder="Number Only" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor8">Tenor 8
                                                            </label>
                                                        <input class="form-control" id="tenor8" type="text"
                                                            name="tenor8" placeholder="Number Only" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor9">Tenor 9
                                                            </label>
                                                        <input class="form-control" id="tenor9" type="text"
                                                            name="tenor9" placeholder="Number Only" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="tenor10">Tenor 10
                                                            </label>
                                                        <input class="form-control" id="tenor10" type="text"
                                                            name="tenor10" placeholder="Number Only" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="startBerlaku">Masa Berlaku
                                                            Start</label>
                                                        <input class="form-control" id="startBerlaku" type="date"
                                                            name="startBerlaku" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="col-form-label" for="endBerlaku">Masa Berlaku
                                                            End</label>
                                                        <input class="form-control" id="endBerlaku" type="date"
                                                            name="endBerlaku" required>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit" name="signup"
                                                        value="Sign up">Save</button>
                                                        <button class="btn btn-success" type="submit" name="signup"
                                                        value="Sign up">Submit</button>
                                                        <button class="btn btn-danger" type="submit" name="signup"
                                                        value="Sign up">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </main>
    </div>

    <footer class="c-footer">
        <div><a href="https://coreui.io">CoreUI</a> © 2020 creativeLabs.</div>
        <div class="mfs-auto">Powered by&nbsp;<a href="https://coreui.io/pro/">CoreUI Pro</a></div>
    </footer>
</div>
<!-- CoreUI and necessary plugins-->
<script th:src="@{../vendors/@coreui/coreui-pro/js/coreui.bundle.min.js}"></script>
<!--[if IE]><!-->
<script th:src="@{../vendors/@coreui/icons/js/svgxuse.min.js}"></script>
<!--<![endif]-->
<!-- Plugins and scripts required by this view-->
<script th:src="@{../vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js}"></script>
<script th:src="@{../vendors/@coreui/utils/js/coreui-utils.js}"></script>
<script th:src="@{../js/main.js}"></script>
<script th:src="@{../js/index.js}"></script>
<script th:src="@{../js/svgxuse.js}"></script>
<script th:src="@{../js/ index.d.ts}"></script>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        setTimeout(function () {
            document.body.classList.remove('c-no-layout-transition')
        }, 2000);
    });
</script>

</body>

</html>