
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head"></head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"> Form Input - Komponen PH
                                        <div class="card-header-actions"></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form id="signupForm" th:action="@{/KomponenPH/ActionApprovalData}"  th:object="${komponenPH}" method="post" novalidate="novalidate">
                                                    <input type="hidden" th:field="*{id}" id="id" name="id">
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="namaSkema">Nama Skema</label>
                                                        <input readonly disabled class="form-control" id="namaSkema" type="text" name="namaSkema" th:field="*{namaSkema}"
                                                            placeholder="Nama Skema" th:classappend="${#fields.hasErrors('namaSkema')} ?  is-invalid">
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('namaSkema')}" th:errors="*{namaSkema}"></div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="tipeKonsumen">Tipe Konsumen</label>
                                                        <div class="form-check ml-2">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" id="tipeKonsumen0" name="tipeKonsumen" th:field="*{tipeKonsumen}" value="0" checked="checked">
                                                            <label class="form-check-label" for="tipeKonsumen0">All</label>
                                                        </div>
                                                        <div class="form-check ml-2" th:each="dataTipeKonsumen :${listTipeKonsumen}">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" name="tipeKonsumen" th:id="'tipeKonsumen' + ${dataTipeKonsumen.id}" th:field="*{tipeKonsumen}" th:value="${dataTipeKonsumen.id}">
                                                            <label class="form-check-label" th:for="'tipeKonsumen' + ${dataTipeKonsumen.id}" th:text="${dataTipeKonsumen.nama}"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="jenisKendaraan">Jenis Kendaraan</label>
                                                        <div class="form-check ml-2">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" id="jenisKendaraan0" name="jenisKendaraan" th:field="*{jenisKendaraan}" value="0" checked="checked">
                                                            <label class="form-check-label" for="jenisKendaraan0">All</label>
                                                        </div>
                                                        <div class="form-check ml-2" th:each="dataJenisKendaraan :${listJenisKendaraan}">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" name="jenisKendaraan" th:id="'jenisKendaraan' + ${dataJenisKendaraan.id}" th:field="*{jenisKendaraan}" th:value="${dataJenisKendaraan.id}">
                                                            <label class="form-check-label" th:for="'jenisKendaraan' + ${dataJenisKendaraan.id}" th:text="${dataJenisKendaraan.jenisKendaraan}"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="firstname">Jenis Pembiayaan</label>
                                                        <select readonly disabled class="form-control" id="jenisPembiayaan" type="text" name="jenisPembiayaan" th:field="*{jenisPembiayaan}"
                                                        placeholder="jenisPembiayaan" th:classappend="${#fields.hasErrors('jenisPembiayaan')} ?  is-invalid">
                                                            <option th:each="dataJenisPembiayaan :${listJenisPembiayaan}" th:value="${dataJenisPembiayaan.id}" th:text="${dataJenisPembiayaan.jenisPembiayaan}"></option>
                                                        </select>
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('jenisPembiayaan')}" th:errors="*{jenisPembiayaan}"></div>
                                                    </div>

                                                    
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="firstname">Cluster</label>
                                                        <select readonly disabled class="form-control" id="cluster" type="text" name="cluster" th:field="*{cluster}"
                                                        placeholder="cluster" th:classappend="${#fields.hasErrors('cluster')} ?  is-invalid">
                                                            <option th:each="dataCluster :${listCluster}" th:value="${dataCluster.id}" th:text="${dataCluster.cluster}"></option>
                                                        </select>
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('cluster')}" th:errors="*{cluster}"></div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="diskonNpwp">NPWP</label>
                                                        <div class="form-check ml-2">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" id="diskonNpwp0" name="diskonNpwp" th:field="*{diskonNpwp}" value="0" checked="checked">
                                                            <label class="form-check-label" for="diskonNpwp0">All</label>
                                                        </div>
                                                        <div class="form-check ml-2">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" id="diskonNpwp1" name="diskonNpwp" th:field="*{diskonNpwp}" value="1">
                                                            <label class="form-check-label" for="diskonNpwp0">Yes</label>
                                                        </div>
                                                        <div class="form-check ml-2">
                                                            <input readonly disabled class="form-check-input readonly disabled" type="radio" id="diskonNpwp2" name="diskonNpwp" th:field="*{diskonNpwp}" value="2">
                                                            <label class="form-check-label" for="diskonNpwp0">No</label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Tenor 1 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor1" type="number"  th:field="*{tenor1}"
                                                                name="tenor1" th:classappend="${#fields.hasErrors('tenor1')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor1')}" th:errors="*{tenor1}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Tenor 6 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor6" type="number"  th:field="*{tenor6}"
                                                                name="tenor6" th:classappend="${#fields.hasErrors('tenor6')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor6')}" th:errors="*{tenor6}"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Tenor 2 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor2" type="number"  th:field="*{tenor2}"
                                                                name="tenor2" th:classappend="${#fields.hasErrors('tenor2')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor2')}" th:errors="*{tenor2}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Tenor 7 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor7" type="number"  th:field="*{tenor7}"
                                                                name="tenor7" th:classappend="${#fields.hasErrors('tenor7')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor7')}" th:errors="*{tenor7}"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Tenor 3 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor3" type="number"  th:field="*{tenor3}"
                                                                name="tenor3" th:classappend="${#fields.hasErrors('tenor3')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor3')}" th:errors="*{tenor3}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Tenor 8 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor8" type="number"  th:field="*{tenor8}"
                                                                name="tenor8" th:classappend="${#fields.hasErrors('tenor8')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor8')}" th:errors="*{tenor8}"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Tenor 4 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor4" type="number"  th:field="*{tenor4}"
                                                                name="tenor4" th:classappend="${#fields.hasErrors('tenor4')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor4')}" th:errors="*{tenor4}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Tenor 9 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor9" type="number"  th:field="*{tenor9}"
                                                                name="tenor9" th:classappend="${#fields.hasErrors('tenor9')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor9')}" th:errors="*{tenor9}"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Tenor 5 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor5" type="number"  th:field="*{tenor5}"
                                                                name="tenor5" th:classappend="${#fields.hasErrors('tenor5')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor5')}" th:errors="*{tenor5}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Tenor 10 (Rp)</label>
                                                            <input readonly disabled class="form-control" id="tenor10" type="number"  th:field="*{tenor10}"
                                                                name="tenor10" th:classappend="${#fields.hasErrors('tenor10')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tenor10')}" th:errors="*{tenor10}"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Masa Berlaku
                                                                Start</label>
                                                            <input readonly disabled class="form-control" id="startBerlaku" type="date" th:field="*{startBerlaku}"
                                                                name="startBerlaku" th:classappend="${#fields.hasErrors('startBerlaku')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('startBerlaku')}" th:errors="*{startBerlaku}"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="confirm_password">Masa Berlaku
                                                                End</label>
                                                            <input readonly disabled class="form-control" id="endBerlaku" type="date" th:field="*{endBerlaku}"
                                                                name="endBerlaku" th:classappend="${#fields.hasErrors('endBerlaku')} ?  is-invalid">
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('endBerlaku')}" th:errors="*{endBerlaku}"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit" name="action"
                                                            value="approve">Approve</button>
                                                        <button class="btn btn-danger" type="submit" name="action"
                                                            value="decline">Decline</button>
                                                        <a href="/KomponenPH/Data"><button class="btn btn-secondary" type="button">Cancel</button></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
</body>
</html>