
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/common :: head"></head>
<body class="c-app">
    <div th:replace="fragments/common :: sidebar"></div>
    <div class="c-wrapper">
        <div th:replace="fragments/common :: header"></div>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"> Form Input - Komponen PH
                                        <div class="card-header-actions"></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form id="signupForm" th:action="@{/KomponenPH/ActionApprovalData}"  th:object="${komponenPH}" method="post" novalidate="novalidate">
                                                    <input type="hidden" th:field="*{id}" id="id" name="id">
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="namaSkema">Nama Skema</label>
                                                        <input disabled="" class="form-control" id="namaSkema" type="text" name="namaSkema" th:field="*{namaSkema}"
                                                            placeholder="Nama Skema" th:classappend="${#fields.hasErrors('namaSkema')} ?  is-invalid">
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('namaSkema')}" th:errors="*{namaSkema}"></div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="tipeKonsumen">Tipe Konsumen</label>
                                                        <div class="form-check ml-2">
                                                            <input disabled="" class="form-check-input" type="radio" id="tipeKonsumen0" name="tipeKonsumen" th:field="*{tipeKonsumen}" value="0" checked="checked">
                                                            <label class="form-check-label" for="tipeKonsumen0">All</label>
                                                        </div>
                                                        <div class="form-check ml-2" th:each="dataTipeKonsumen :${listTipeKonsumen}">
                                                            <input disabled="" class="form-check-input" type="radio" name="tipeKonsumen" th:id="'tipeKonsumen' + ${dataTipeKonsumen.id}" th:field="*{tipeKonsumen}" th:value="${dataTipeKonsumen.id}">
                                                            <label class="form-check-label" th:for="'tipeKonsumen' + ${dataTipeKonsumen.id}" th:text="${dataTipeKonsumen.nama}"></label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-form-label" for="jenisPembiayaan">Jenis Pembiayaan <input disabled=""  id="check-jenis-pembiayaan" type="checkbox"> </label> 
                                                        <div class="form-check ml-2" th:each="dataJenisPembiayaan :${listJenisPembiayaan}">
                                                            <input disabled=""  class="form-check-input jenis-pembiayaan" type="checkbox" th:value="${dataJenisPembiayaan.id}" th:id="'jenisKendaraan' + ${dataJenisPembiayaan.id}" th:field="*{jenisPembiayaan}">
                                                            <label class="form-check-label" th:for="'jenisKendaraan' + ${dataJenisPembiayaan.id}" th:text="${dataJenisPembiayaan.jenisPembiayaan}">
                                                                
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label" for="password">Komponen PH </label>
                                                            <input class="form-control" id="jenis" type="hidden"  th:field="*{jenis}"
                                                                name="jenis">
                                                            <input disabled="disabled" class="form-control" type="text"  th:value="*{jenis}">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <div class="form-group">
                                                                <label class="col-form-label" for="firstname">ADDB</label>
                                                                <select disabled="" class="form-control" id="addb" type="text" name="addb" th:field="*{addb}"
                                                                placeholder="addb" th:classappend="${#fields.hasErrors('addb')} ?  is-invalid">
                                                                    <option value="0">Not Included</option>
                                                                    <option value="1">Prepaid</option>
                                                                    <option value="2">Onloan</option>
                                                                </select>
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('addb')}" th:errors="*{addb}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <div class="form-group">
                                                                <label class="col-form-label" for="firstname">ADDM</label>
                                                                <select disabled="" class="form-control" id="addm" type="text" name="addm" th:field="*{addm}"
                                                                placeholder="addm" th:classappend="${#fields.hasErrors('addm')} ?  is-invalid">
                                                                    <option value="0">Not Included</option>
                                                                    <option value="1">Prepaid</option>
                                                                    <option value="2">Onloan</option>
                                                                </select>
                                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('addm')}" th:errors="*{addm}"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit" name="action"
                                                            value="approve">Approve</button>
                                                        <button class="btn btn-danger" type="submit" name="action"
                                                            value="decline">Decline</button>
                                                        <a href="/KomponenPH/Data"><button class="btn btn-secondary" type="button">Cancel</button></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </main>
        </div>
        <div th:replace="fragments/common :: footer"></div>
    </div>
    <div th:replace="fragments/common :: scripts"></div>
</body>
</html>